.advantages__header {
  padding-top: 32px;
  padding-bottom: 32px;
}



.advantages__list {
  .list-none-style();
  @media (min-width: @tablet-width) {
    min-width: 768px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   }
 }


.advantages__item-wrapper {
  max-width: 284px;
  margin: 0 auto;
  display: block;


}

.advantages__item-title {
  .font-size-title-style();
  text-align:center;
  .padding-margin-none-style();
  margin-bottom: 11px;
  }

.advantages__item-number {
  .font-size-description-style();
  text-align:center;
  color: #333333;
  .padding-margin-none-style();
  margin-bottom: 17px;
 }

.advantages__item-description {
  .font-size-description-style();
  text-align:center;
  color: #333333;
  .padding-margin-none-style();
  max-width: 284px;
  }

.advantages__item-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.advantages__item-first-type {
  background-color: @bg-color-first-type;
  color: #ffff;
  padding-top: 37px;
  @media (min-width: @tablet-width) {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 256px 1fr;
  padding: 0;
   }
}

.advantages__item-number-first-type, .advantages__item-description-first-type {
  color: #ffff;
}
.advantages__item-description-first-type {
  margin-bottom: 37px;
}
.advantages__item-title-second-type {
  text-align: start;
  padding-left: 65px;
}

.advantages__item-description-second-type{
  text-align: start;
  padding-left: 65px;
  margin-bottom: 25px;
}

.advantages__item-accommodation {
  padding-top: 23px;
}

.advantages__item-third-type {
  background-color: @bg-color-second-type;
  padding-top: 24px;
  padding-bottom: 24px;
}
