
.checkbox__label {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    padding-left: 52px;
    position: relative;
    padding-top: 11px;
    cursor: pointer;
    &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    display: block;
    background-image: url("../../img/icons/tick.svg");
    top: 15px;
    left: 13px;
    display: none;
    }
    &::before {
      content: "";
      position: absolute;
      width: 46px;
      height: 46px;
      display: block;
      background: #F2F2F2;
      top: 0;
      left: 0;
  }
}
.checkbox__input:checked + .checkbox__label::after {
  display: block;
}
