.main-footer {
  padding-top: 28px;
  padding-bottom: 22px;

}
.main-footer__hashtag-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  .padding-margin-none-style();
  margin-bottom: 30px;
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 }

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.main-footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 12px;
}
